/*------------------公共头部----------------------------*/
/*------------------header----------------------------*/
.header{width: 100%;}
.headBar{width:100%;background:#f4f4f4;height:36px;}

.head{width:960px;margin:0 auto;height:36px;font-size: 12px;line-height: 16px;}

.headLeft{float:left;overflow: hidden;margin:10px 0 8px;}
.headLeft a:hover{color:#8e0c3a;}
.headLeft .head_enroll{padding-right:16px;border-right:1px solid #ccc; }
.headLeft .head_enter{padding: 0 14px;}

/*--------------headRight-------------------*/
.headRight{float: right;margin-left:430px;}
.headRight div{float: left;}
.headRight .hotLine{margin:10px 0 8px;}

/*--------------fousUs-------------------*/
.headRight .fousUs{padding:10px 3px 8px 24px;position: relative;}
.fousUs span{float: left;width:15px;height:14px;margin-right:2px;background:url('img/headico.png') no-repeat 0 -15px;}
.fousUs .fousUs_link{width:166px;position: absolute;right:0;top:34px;z-index: 7;border:1px solid #ccc;background: #fff;display: none;}
.fousUs .fousUs_link li{float: left;}
.fousUs .fousUs_link li a{float: left;padding: 11px 17px;text-align: center;}
.fousUs .fousUs_link li a img{margin-left:10px;}
/*--------------shoppingCart-------------------*/
.headRight .shoppingCart{position: relative;height:30px;width:144px;margin-left:5px; }
.shopping{display:block;overflow: hidden;height:32px;margin-top:2px;border:1px solid #f4f4f4;padding-left:23px;position: absolute;z-index: 8;}
.cartLeft{width:95px;border-right:1px solid #ccc;margin-top:7px;}
.cartLeft .shopping_bg{float:left;width:22px;height:16px;background: url("img/headico.png") no-repeat 0 -30px;margin-right:6px;}
.cartRight{padding: 5px 5px 0 6px;float: left;}
.shopping:hover{background:#fff;border:1px solid #ccc;border-bottom-color: #fff;}
.cartList{width:316px;height:72px;line-height:72px;text-align:center;position: absolute;right:0;top:35px;border:1px solid #ccc;z-index: 6;background: #fff;display: none;}

/*-------------------------headerList-------------------*/
.headList{width:960px;margin:0 auto;padding-top:14px;height:120px; }
.headList div{float:left;}

.maBox{margin:3px 320px 8px 16px;position:relative;}
.maBox .maTips{position:absolute;left:80px;top:30px;}

.search{margin-left:249px;border:1px solid #afafaf;height:24px;margin-top:28px;}
#searchTxt,#searchBtn{float: left;border:none;}
#searchTxt{width:132px;line-height: 24px;height:24px;}
#searchBtn{width:24px;height:24px;background: url("img/search.jpg") no-repeat; }

/*-----------------nav-------------------*/
.headNav{float: left;border-bottom:1px solid #333;position: relative;}
.headNav .Nav{float: left;}
.headNav .Nav>a{float: left;padding: 0 36px;height:32px;line-height: 32px;color:#333;font-size: 14px;}
.headNav .Nav>a.Mliu{background:#8e0c3a;color:#fff;padding:0 38px;}
.headNav .Nav>a:hover{background:#8e0c3a;color:#fff;}
/*-----------------home-------------------*/
.home{width:958px;height:305px;border:1px solid #ccc;position: absolute;left:0;top:33px;padding-top:10px;display: none;background: #fff;z-index: 10;}
/*-----------------homeLeft-------------------*/
.home_left{padding:0 26px;}
.home_left p{height:30px;}
.home_left p a{display: block;height:30px;line-height:30px;color:#8e0c3a;font-weight: bold;}
.home_left span{display: block;height:16px;line-height:16px;border-bottom: 1px solid #ccc;margin:4px 0;}
.home_left span a:hover{color:#8e0c3a;}
.home_left .newon{margin-top:152px;}
/*-----------------Navlist-------------------*/
.Navlist{float: left;padding:0 10px;position: relative;}
.Navlist h4{height:30px;line-height:30px;color:#8e0c3a;font-weight: bold;margin-bottom: 4px;}
.Navlist a{display: block;height:22px;line-height: 22px;}
.Navlist a:hover{color:#8e0c3a;}
/*-----------------recommend-------------------*/
.recommend{float: left;}
.recommend h4{height:30px;line-height:30px;color:#8e0c3a;font-weight: bold;margin-bottom: 4px;}
.recommend dl{float: left;width:160px;margin:0 19px 15px 19px;}
.recommend dl a:hover{color:#8e0c3a;}

/*-----------------brand-pic-------------------*/
.brand-pic{float: left;padding:0 10px;}
.brand-pic h4{height:30px;line-height:30px;color:#8e0c3a;font-weight: bold;margin-bottom: 4px;}
.brand-pic li a{display:block;width: 210px;height:116px;margin-bottom: 8px;position: relative;}
.brand-pic li a img{width: 210px;height:116px;}
.brand-pic li a p{width:210px;height:45px;text-align: center;position: absolute;left:0;top:66px;background:rgba(0,0,0,0.6);color:#fff;line-height: 18px;padding-top:5px;}

/*-----------------youhui-------------------*/
.youhui{margin-left:102px;float: left;width: 310px;}
.youhui_set{margin-left:36px;}
.youhui h4{height:30px;line-height:30px;color:#8e0c3a;font-weight: bold;margin-bottom: 4px;}
.youhui ul{float: left;margin-right:34px;}
.youhui ul a{display: block;heihgt:22px;line-height: 22px;}
.youhui .youhui_pic{margin-top:10px;}
.youhui .youhui_pic img{width: 310px;height:170px;}
/*-----------------sku-------------------*/
.sku,.privilege{display: block;height:16px;line-height:16px;border-bottom: 1px solid #ccc;padding:4px 0;position: absolute;top:268px;left:10px;}
.privilege{top:240px;}

.Clothes_shoes{float: left;width:304;height:190px;margin-top:3px;margin-left:10px;}
.Clothes_shoes img{width:304;height:190px;}

/*---------------公共尾部----------------*/
/*------------------End----------------------------*/
.End{width: 100%;overflow: hidden;}
.EndMsg{width:960px;margin:0 auto;overflow: hidden;}
/*------------------Endlabel----------------------------*/
.EndLabel{width:960px;padding: 26px 0;overflow: hidden;border-top: 1px solid #ccc;}
.EndLabel ul{float: left;border-right:1px solid #ccc;}
.end_lab{width:380px; height:84px;}
.end_lab li{float: left;margin-right:35px;}
.end_lab li h5{font-size:14px;font-weight: bold;color:#7a7a7a;margin-bottom: 10px;}
.end_lab a{display: block;height:18px;line-height: 18px;}

.end_phone{padding: 0 32px;padding-top:10px;height:74px;}
.end_phone p{text-align: center;font-size: 20px;}

.dingyue{height:84px;padding: 0 24px;}
.dingyue h5{height:22px;font-size:14px;line-height: 22px;font-weight: blod;text-align: center;color:#333;}
.dingyue .dingTxt{width:134px;height:22px;border:1px solid #ccc;margin-bottom: 6px;}
.dingyue .dingBtn{border:none;width:48px;height:20px;background:#5a5a5a;color:#fff;margin-left:40px;text-align: center;}

.twoMa{border:none;height:84px;padding: 0 10px;}
.twoMa li{float: left;margin:0 5px;}

/*------------------EndList----------------------------*/
.endList{padding: 0 48px;width:960px;background: #ccc;overflow: hidden;}
.endList li{float: left;}
.endList li a{float:left;width:90px;height:22px;line-height: 22px;text-align: center;}
.endList li a:hover{color:#fff;background: #333;}

/*------------------meiTiList----------------------------*/
.meiTiList{float: left;width: 960px;height:24px;margin:24px 0 15px 0;overflow: hidden;}
.meiTiList li{float: left;}
.meiTiList li a{float: left;margin-right:10px;}

.hui{width: 22px;height:23px;background:url(img/foot_pic.jpg) no-repeat 0 -110px;margin-left:190px;}
.hui:hover{background:url(img/foot_pic.jpg) no-repeat ;}

.meiTiList li .blank{width:100px;height:22px;background:url(img/foot_pic.jpg) no-repeat 0 -155px;margin-right:50px;}
.meiTiList li .blank:hover{background:url(img/foot_pic.jpg) no-repeat 0 -45px;}

.zhichi{overflow:hidden;height:22px;line-height:22px;color:#6c6c6c;margin-right:10px;}

.sina{width:73px;height:22px;background:url(img/foot_pic.jpg) no-repeat -182px -180px;}
.sina:hover{background:url(img/foot_pic.jpg) no-repeat -182px -70px;}

.souHu{width:73px;height:23px;background:url(img/foot_pic.jpg) no-repeat -66px -110px;}
.souHu:hover{background:url(img/foot_pic.jpg) no-repeat -66px 0;}

.moveXi{width:84px;height:22px;background:url(img/foot_pic.jpg) no-repeat -5px -179px;}

.club{width:85px;height:22px;background:#5a5a5a;color:#fff;font-weight: bold;text-align: center;line-height: 22px;}
.club:hover{color:#fff;}


/*------------------webMsg----------------------------*/
.webMsg,.gongshang{width:960px;overflow: hidden;margin:10px 0; }
.webMsg p{height:14px;line-height: 14px;text-align: center;width:960px;}
.gongshang a{float: left;margin-right:20px;}
.gongshang .green{margin-left:410px;}