/*---------------------product---------------------*/
.product{width:100%;overflow: hidden;}
.pro{width:960px;margin:0 auto;padding-top:16px;overflow: hidden;position: relative;}

.proList{float: left;overflow: hidden;height:430px;position: relative;padding-top:22px; margin-right:45px;}
.proTopJt,.proBomJt{display: block;width: 50px;height:16px;margin-left:5px;position: absolute;left:0;top:0;}
.proTopJt{background:url("img/projt.gif") no-repeat;}
.proBomJt{background:url("img/projt.gif") no-repeat 0 -16px;top:auto;bottom:0;}

.proList li{width:50px;height:60px;margin-top:10px;border:2px solid #fff;}
.proList img{width:50px;height:60px;}

/*---------------------pro-pic---------------------*/
.pro-pic{width:384px;height:454px;float: left;position: relative;}
.pro-pic img{width:384px;height:454px;left:0;top:0;position:absolute;z-index:0;}
.pro-pic .fangda{width:192px;height:227px;display:none;background:rgba(214,214,214,0.8);position: absolute;z-index:6;}

/*---------------------setBig---------------------*/
.setBig{width:384px;height:454px;position: absolute;left:500px;top:0;border:1px solid #333;overflow: hidden;background:#fff;z-index: 20;display: none;}
.setBig img{position: absolute;left:0;top:0;width:768px;height:908px;}
/*---------------------pro-tips---------------------*/
.pro-tips{float: left;overflow: hidden;width:390px;margin-left:64px;}
.pro-tips h3{line-height: 24px;font-weight: bold;color:#000;font-size: 16px;}
.pro-tips h3 span{display:inline-block;font-weight: 200;color:#6c6c6c;font-size: 14px;}

.pro-tips p{margin:13px 0;}
.huaxian{text-decoration: line-through;}
.xianjia{color:#982a3a;}
/*---------------------size---------------------*/

.size{overflow: hidden;}
.size span{float: left;width:44px;height:22px;border:2px solid #ccc;margin-right:3px;line-height: 22px;text-align: center;color:#333;}
.size .size-xxl{margin-right:0;}
/*---------------------pro-Buy---------------------*/

.pro-tips .pro-Buy{overflow:hidden;height:32px;margin:28px 0;}
.pro-Buy button{float: left;border:none;height:32px;}
.goumai{width:120px;background:url("img/mai.gif") no-repeat;margin-right:8px;}
.gouwudai{width:138px;background:url("img/gouwudai.gif") no-repeat;}
/*---------------------share---------------------*/
.share{width:388px;height:40px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;line-height: 40px;position: relative;}
.share b{float: left;font-weight: 200;}
.shSina,.shWeixin,.shDou{float: left;width:16px;height:16px;margin-top:13px;margin-left:3px;}

.shSina{background: url("img/share.png") no-repeat 0px -104px;;}
.shWeixin{background: url("img/share.png") no-repeat 0px -1612px;}
.shDou{background: url("img/share.png") no-repeat 0px -468px;}
.share .shoucan{float: right;height:16px;overflow:hidden;margin-top:16px;background:url("img/coll.gif") no-repeat 0 -25px;padding-left:22px; line-height: 16px;}
.share .shoucan:hover{background-position-y:0; }

/*---------------------details-msg/gouwu---------------------*/
.details-msg,.gouwu{width: 960px;height:40px;border-bottom:1px solid #333;margin:0 auto;margin-top:44px; background:#fff;}
.gouwu{margin-top:0;}
.pro-msg{float: left;width:440px;margin-right:180px;}
.details-msg .msgFirst,.gouwu .msgFirst{background:#333;color:#fff;}

.details-msg li,.gouwu li{float: left;width:140px;height:40px;background:#e6e6e6;text-align: center;line-height: 40px;color:#333;font-size: 14px;margin-right:5px;}
.pro-jiaru{float: right;}
.pro-jiaru li{margin:0 0 0 5px;color:#fff;font-size:14px;}
.pro-jiaru .redBuy{background: #961644;}
.pro-jiaru .Buybag{background:#505050;}

/*---------------------proInfo---------------------*/
.proInfo{width:960px;overflow: hidden;margin:0 auto;display: block;}
.proTab{width:960px;border:1px solid #ccc;overflow: hidden;border-bottom:none;border-right:none;}
.proTab td{border:1px solid #ccc;border-top:none;border-left:none;padding: 5px;line-height: 32px;}
.tabLeft{text-align: center;}

.story{overflow: hidden;width:960px;}
.story p{line-height: 34px;}
.moncler{float: left;padding-right:20px;border-right:1px solid #ccc;}
.moncler p{color:#000;font-size: 14px;}
.jianjie{float: left;margin-left:30px;width: 630px;font-size: 14px;}
.jianjie a{float: right;font-size:16px;text-decoration: underline;}

.picXq{width:960px;overflow: hidden;}
.picXq img{float:left;width:430px;height:516px;margin:25px;}

/*---------------------proChi---------------------*/
.proChi{width:960px;overflow: hidden;margin:0 auto;display: none;}
.womenChi{overflow: hidden;}

.chiTu{float: left;position: relative;overflow: hidden;width:300px;}
.chiTu .biaoshi1,.chiTu .biaoshi2{height: 14px;}
.chiTu .biaoshi1{position: absolute;left:26px;top:86px;}
.chiTu .biaoshi2{position: absolute;left:122px;top:28px;}
.chiTu .biaoshi3{position: absolute;left:130px;top:138px;}
.chiTu .biaoshi4{position: absolute;left:250px;top:75px;}



.pro_size{float: right;overflow: hidden;width:620px;height:224px;}
.chiCun tr{margin-top:5px;background:#eabebe;}
.chiCun tr td{text-align: center;padding-top:5px;padding-bottom:5px;border:none;border-spacing: 0;}
.pro_size p{text-align: right;margin-top:5px;}

/*---------------------shipping---------------------*/
.shipping{width:960px;margin:0 auto;font-size:12px;display: none;}
.shipping p{line-height: 28px;}
.proConBox{padding: 28px 0;border-bottom:1px dashed #ccc;}
.tabTitle{width:960px;padding-top:10px;margin:10px 0;overflow: hidden;margin-bottom: 10px;}
.tabTitle .t_m5,.t_m4{float: left;width:57px;height:51px;background:url("img/m.png") no-repeat;}
.tabTitle b{display:block;color:#000;font-size:16px;line-height: 26px;}
.tabTitle p{line-height: 20px;margin-right:15px;}
.tabTitle p i{font-style:normal;font-weight:200;}
.shipping h5{color:#000;font-weight: bold;font-size:14px;}
/*---------------------proTuiJian---------------------*/
.proTuiJian{width:960px;overflow: hidden;margin: 0 auto;margin-top:48px;}
.rec{padding-left:396px; }
.tuijian{display:inline-block;border-top:1px solid #ccc;margin-left:450px;margin-top:5px;}

.yiTuiJian{width:168px;text-align: center;padding-bottom:24px;margin-bottom:5px;float: left;margin-right:30px;margin-top: 40px;}
.rightYi{margin-right:0;}
.yiTuiJian-brand a{color:#000;font-weight: bold;Hheight:18px;line-height: 18px;}
.yiTuiJian-money {color:#a52a2a;margin-bottom: 14px;}

/*---------------------consult---------------------*/

.consult{position: absolute;overflow: hidden;right:0;top:400px;}
.consult li button{width:52px;height:46px;border: none;float: left;}
#lianXi{background:url("img/consult.jpg") no-repeat;}
#lianXi:hover{background:url("img/consult.jpg") no-repeat -52px 0;}

#logn{background:url("img/consult.jpg") no-repeat 0 -46px;}
#logn:hover{background:url("img/consult.jpg") no-repeat -52px -46px;}

#dingBu{background:url("img/consult.jpg") no-repeat 0 -92px;}
#dingBu:hover{background:url("img/consult.jpg") no-repeat -52px -92px;}

