/*-----------log----------------------*/
.log{width:960px;height:517px;background:url("img/bg_main.jpg") no-repeat;margin:0 auto;margin-bottom:20px;}
.logBg,.register{margin-left:50px;padding-top:28px;margin-bottom: 16px;width: 352px;}
.login{width:280px;overflow: hidden;float: right;}
.login p{padding: 8px 0;overflow: hidden;}
#logTxt,#logBtn{width:204px;height:20px;line-height: 20px;float: right;margin-left:10px;}
.psw label,.email label{float: left;height:20px;line-height: 20px;text-align: center;}
.login .ziDong{padding-left:70px; }
.ziDong input{float: left;margin-top:2px;}
.ziDong a{float: right;}


.loginBtn{float: right;border:none;width:210px;height:28px;text-align: center;background:#8e0c3a;line-height: 28px;color: #fff;}
.zhuCe{text-align: right;}
.zhuCe a{float: right;color:#8e0c3a;}
