.log{width:960px;height:517px;background:url("img/bg_main.jpg") no-repeat;margin:0 auto;margin-bottom:20px;}
.logBg{margin-left:80px;padding-top:28px;margin-bottom: 16px;}
.login{width:300px;overflow: hidden;margin-left:100px;}
#logTxt,#logBtn{width:204px;height:20px;line-height: 20px;float: right;}
.psw label,.email label{float: left;height:20px;line-height: 20px;}