/*--------------------shopping-cart---------*/
.shopping-cart{width:100%;overflow: hidden;}

.choose{width:960px;overflow: hidden;margin: 0 auto;padding:10px 0;}

.cart{width:958px;min-height: 298px;border: 1px solid #ccc;margin:10px 0;}
.line-bt{text-align: center;line-height: 22px;width:960px;font-size:16px;color:#333;position:relative;}
.line_Lbt,.line_Rbt{position: absolute;width:347px;border-bottom: 1px solid #ccc;top:22px;left:0;}
.line_Rbt{left:auto;right:0;}

.pic{width:960px;min-height:280px;overflow: hidden;position: relative;}
.commodity{width:168px;overflow:hidden;float:left;padding: 0 12px;padding-bottom:24px;margin-bottom:5px;}
.commodity dd{margin:2px;text-align: center;}
.dity-brand a{height:18px;line-height: 18px;}
.thing{width:960px;position: absolute;overflow: hidden;}

.corLeft,.corRight{display: block;width: 17px;height:26px;position: absolute;top:110px;}
.corLeft{background:url("img/pic_arrow_l.png") no-repeat;}
.corRight{background:url("img/pic_arrow_r.png") no-repeat;right:0;}

